/* General body settings */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #f0f0f0, #dfe4ea);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #5f27cd;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: auto;
}

.formBox {
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.formBox:hover {
    transform: scale(1.02);
}

legend {
    font-size: 1.8rem;
    color: #5f27cd;
    letter-spacing: 1px;
}

label {
    font-weight: bold;
    color: #34495e;
}

.form-control {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #dfe4ea;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #5f27cd;
    box-shadow: 0 0 8px rgba(95, 39, 205, 0.2);
}

button {
    background-color: #5f27cd;
    border: none;
    color: white;
    padding: 15px;
    font-size: 1rem;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #341f97;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

button:disabled {
    background-color: #bbb;
    cursor: not-allowed;
}

.spinner-border {
    color: #5f27cd;
}

.display-4 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-top: 20px;
}

h2 {
    color: #5f27cd;
    font-weight: bold;
}

input, select {
    background-color: #f9f9f9;
    padding: 15px;
}

input::placeholder {
    color: #b2bec3;
    font-style: italic;
}

input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"]:focus {
    border-color: #341f97;
}

input:focus {
    border-color: #5f27cd;
}

.input:focus + label {
    color: #5f27cd;
    font-weight: bold;
}

.focus label {
    transform: translateY(-20px);
    font-size: 0.9rem;
    color: #5f27cd;
}

#loading {
    color: #5f27cd;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    .formBox {
        padding: 30px;
    }

    button {
        font-size: 0.9rem;
    }

    .display-4 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .formBox {
        padding: 20px;
    }

    button {
        padding: 12px;
        font-size: 0.8rem;
    }

    .display-4 {
        font-size: 1.5rem;
    }
}
